.git
.github
.vscode
.DS_Store
.appdata
.claude
.gemini
bin
coverage.txt
external_tools
ios
node_modules
playwright-report
src/webapp/build
src/webapp/node_modules
test-results
Videos
*.flv
*.mp4
*.m4v
*.mov
*.mkv
*.ts
*.aac
抖音
